body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1512389055488-8d82cb26ba6c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTU1fHxtaW5pbWFsJTIwYmFja2dyb3VuZCUyMGZvciUyMHdlZGRpbmd8ZW58MHx8MHx8fDA%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Music button */
#musicButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#musicButton:hover {
    background-color: #555;
    transform: scale(1.1);
}

.container {
    background-color: #ffffff;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 300px;
}

h1 {
    margin-bottom: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.login-input label {
    width: 80px;
    text-align: right;
    margin-right: 10px;
}

.login-input input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    flex: 1;
}

.start-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p {
    text-align: left;
    font-size: small;
}
